<div class="main-container">

    <!-- Select Breed -->

    <form (click)="displayBreeds()">
        <mat-form-field appearance="outline">
          <mat-label>Breeds</mat-label>
          <input type="text" matInput [formControl]="breedsControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option (click)="getImages('')">All breeds </mat-option>
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="getImages(option.id)">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        
        <button mat-mini-fab color="accent" class="refresh-btn" (click)="getImages('')">
            <mat-icon>replay</mat-icon>
        </button>
    </form>

    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" class="grid-list">

        <!-- Cats Images -->
    
        <div>
            <mat-grid-tile *ngFor="let image of images" >
                <div>
                    <mat-card class="card">
                        <img mat-card-image *ngIf="image.url" [src]="image.url" class="cat-image">
                    </mat-card>
                </div>
            </mat-grid-tile>
        </div>

    </mat-grid-list>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="OnPageChange($event)"></mat-paginator>

</div>
  


